.fundo-header {
  background: url("../img/background_header.png") no-repeat center;
  height: 400px;
  text-align: center;
}
.lista-nav-ul {
  height: 30px;
  display: flex;
  list-style: none;
  padding-top: 5px;
}
.lista-nav {
  padding-left: 10px;
  padding-right: 10px;
}
.nav-link {
  font-size: 13px;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(-1px 0px 0px #000);
}
.nav-link:hover {
  color: #ffffff;
  border-bottom: 3px solid #fff;
  filter: drop-shadow(0px 0px 0px #000);
}
.nav-item {
  margin-left: 20px;
}
.title-principal {
  color: #fff;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  filter: drop-shadow(0px 2px 0px #000);
  padding-top: 70px;
}
.position-frase {
  position: relative;
  bottom: -15px;
}
.btn-posicao {
  position: relative;
  bottom: -65px;
  width: 220px;
}
.btn1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  margin: 0px auto;
  width: 230px;
  height: 30px;
  background: #be1d2c;
  padding: 5px;
  border-radius: 8px;
  letter-spacing: 0.01em;
  border-style: none;
}

.btn1:hover {
  color: #be1d2c;
  background-color: #fff;
}
.posicao-card {
  padding-top: 20px;
}

.title-Section {
  padding-top: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 680px) {
  .title-principal {
    font-size: 30px;
  }
  .lista-nav-ul {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-item {
    margin-left: 0;
  }
}
